<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicewang.aitesting.mapper.ApicaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huicewang.aitesting.model.Apicase">
        <id column="id" property="id" />
        <result column="apiId" property="apiId" />
        <result column="envId" property="envId" />
        <result column="name" property="name" />
        <result column="preProcessing" property="preProcessing" />
        <result column="params" property="params" />
        <result column="headers" property="headers" />
        <result column="commonParams" property="commonParams" />
        <result column="expectedStatus" property="expectedStatus" />
        <result column="expectedResult" property="expectedResult" />
        <result column="postProcessing" property="postProcessing" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="cookies" property="cookies" />
    </resultMap>

</mapper>
